@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
#Hero{
    background-image:linear-gradient(0deg, rgba(9.2, 8.93, 8.93, 1) 3.482%,rgba(16, 16, 16, 0) 101.632%),
    url("../Asset/hero-bg.png");
    background-size: cover;
    background-position: center;
    height:735.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25.6px;
}
#hero_content{
    width: 818.4px;
    margin:0 auto;



}
#tagline{
    /* Savor the Flavors */
/* width: 274px;
height: 38px; */
opacity: .8;
color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-style: SemiBold;
font-size: 25.6px;
font-weight: 600;
line-height: 30.4px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 12.8px;
}
#heading{
    color: rgba(255, 255, 255, 1);
font-family: Work Sans;
font-style: Bold;
font-size: 51.2px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 19.2px;
}
#description{
    opacity: .7;
    color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-style: Medium;
font-size: 14.4px;
font-weight: 500;
line-height: 22.4px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 25.6px;
}

.btn_content{
    text-align: center;
}

.bt{

padding: 16.8px 25.6px 16.8px 25.6px;

color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-style: SemiBold;
font-size: 16px;
font-weight: 600;
line-height: 18.4px;
letter-spacing: 0%;
text-align: center;
border: none;
cursor: pointer;

border-radius: 8px;
background: rgba(82, 195, 3, 1);
}


#cardbox{
    width: 1056px;
    margin: 50px auto;

}

#cardbox .tagline{
    opacity: .6;
    color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-style: Medium;
font-size: 19.2px;
font-weight: 500;
line-height: 22.4px;
letter-spacing: 0%;
text-align: center;
}

#cardbox .title{
    color: rgba(16, 16, 16, 1);
font-family: Work Sans;
font-style: Bold;
font-size: 34.8px;
font-weight: 700;
line-height: 51.2px;
letter-spacing: 0%;
text-align: center;
}

.card_container{
    margin-top: 38.4px;
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.card{
    max-width: 339.2px;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.card .card_image{
    width:339.2px;
}

.card .card_image img{
    width:100%;
    height: 220px;
    object-fit: cover;
    border-radius: 16px;
}
.card .shop{
background: rgba(82, 195, 3, 0.15);
padding: 11.2px 25.6px 11.2px 25.6px;
border-radius: 6.4px;

}

.card .shop span{
   font-family: Work Sans;
font-style: SemiBold;
font-size:19.2px;
font-weight: 600;
line-height: 22.4px;
letter-spacing: 0%;
}

.discount{
    color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-style: SemiBold;
font-size: 32px;
font-weight: 600;
line-height: 37.6px;
letter-spacing: 0%;
margin-top: 8px;
}

.descrip{
    color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-style: Medium;
font-size: 14.4px;
font-weight: 500;
line-height: 22.4px;
letter-spacing: 0%;
text-align: center;
opacity: .7;
}

.bt_container{
    margin-top: 51.2px;
    text-align: center;
}